{
  "presets":[
    [ "env", {
      "modules": "umd"
    }]
  ],
  "plugins": [
    "transform-object-assign"
  ],
  "env": {
    "production": {
      "presets": [
        "minify"
      ]
    }
  }
}
